{
  "CLOUDFLARE_TURN_KEY_ID": "your_cloudflare_turn_key_id_here",
  "CLOUDFLARE_TURN_API_TOKEN": "your_cloudflare_api_token_here",
  "R2_ACCOUNT_ID": "your_cloudflare_account_id_here",
  "R2_ACCESS_KEY_ID": "your_r2_access_key_id_here",
  "R2_SECRET_ACCESS_KEY": "your_r2_secret_access_key_here",
  "R2_BUCKET_NAME": "r2bucket",
  "R2_PUBLIC_URL": "https://pub-your_id.r2.dev",
  "APP_SECRET": "your_32_byte_hex_or_random_app_secret_here"
}
